annotated-types==0.7.0
anyio==4.4.0
certifi==2024.7.4
distro==1.9.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
openai==1.58.1
pydantic==2.8.2
pydantic_core==2.20.1
python-telegram-bot==21.4
sniffio==1.3.1
telegram==0.0.1
tqdm==4.66.4
typing_extensions==4.12.2
python-dotenv
colorama
joblib==1.4.2 
numpy==2.1.1 
scikit-learn==1.5.2 
scipy==1.14.1 
threadpoolctl==3.5.0
lxml==5.3.0 
python-docx==1.1.2
aiohappyeyeballs==2.4.3 
aiohttp==3.10.8 
aiosignal==1.3.1 
attrs==24.2.0 
charset-normalizer==3.3.2 
frozenlist==1.4.1 
multidict==6.1.0 
requests==2.32.3 
urllib3==2.2.3 
yarl==1.13.1
jiter==0.5.0